main {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  margin: auto;
}


:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

body {
  font-family: "TCCC-UnityHeadline Bold";
}

html,
body {
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

/**
  * used the scroll  bar style from style.css 
  * you can edit it there
*/
/* 
*::-webkit-scrollbar {
  width: 0.8rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
} */

section {
  padding-bottom: 2rem;
  margin: 0 auto;
  width: 100%;
  container-name: about-card;
  container-type: inline-size;
}


.home-container {
  background: url(home-img.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
}

.home .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
}

.home .content p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}

.heading {
  color: #fff;
  font-size: calc(var(--fs-big) / 2);
  text-transform: uppercase;
  padding-bottom: 1.5rem;
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.about .row {
  display: grid;
  grid-template-columns: 1fr;
  background: var(--black);
  /* gap: 1.5rem; */
}

.about .row .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .row .content {
  /* flex: 1 1 45rem; */
  padding: 1.5rem;
}

.about .row .content h3 {
  font-size: 1.5rem;
  color: #fff;
}

.about .row .content p {
  /* font-size: 1.6rem; */
  color: #ccc;
  padding-block: 1rem;
  line-height: 1.8;
}

@container about-card (min-width: 900px) {
  .row {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}