/* ------------- global settings ------------- */

@font-face {
	font-family: "TCCC-UnityHeadline Bold";
	src: local("TCCC-UnityHeadline Bold"), local("TCCC-UnityHeadline Bold"),
		url("../fonts/TCCC-UnityHeadline Bold.woff") format("woff"),
		url("../fonts/TCCC-UnityHeadline Bold.woff2") format("woff2"),
		url("../fonts/TCCC-UnityHeadline Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Mogra";
	src: local("Mogra"), local("Mogra"),
		url("../fonts/Mogra.woff") format("woff"),
		url("../fonts/Mogra.woff2") format("woff2"),
		url("../fonts/Mogra.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

:root {
	--primary-color: #f40009;
	--bg-color: #050a0f;
	--text-color: #f9fffb;
	--bg-color-white: #f9fffb;
	--text-color-red: #f40009;
	--primary-font-family: "TCCC-UnityHeadline Bold";
	--secondary-font-family: "Mogra";
	--light-gray-color: 211, 211, 211;
	--fs-normal: clamp(1rem, 1.5vw, 1.5rem);
	--fs-md: clamp(2rem, 5vw, 3rem);
	--fs-small: clamp(0.8rem, 1.5vw, 1rem);
	--fs-big: clamp(3rem, 7vw, 7rem);
	--app-inline-padding: 4rem;
	--app-animations-duration: 300ms;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-thumb {
	background-color: #272727;
}

::-webkit-scrollbar-track {
	background-color: var(--bg-color);
}

html,
body {
	scroll-behavior: smooth;
	overflow-x: hidden;
	height: 100%;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	width: 100%;
	font-family: var(--primary-font-family);
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3rem var(--app-inline-padding);
	gap: 4rem;
	width: 100%;
	max-width: 1536px;
	margin: 0 auto;
}

li a:hover {
	color: var(--primary-color);
}

.app-container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.hero-container {
	display: grid;
	/* grid-template-columns: repeat(2, 1fr); */
	grid-template-columns: 60% 40%;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0 var(--app-inline-padding);
	margin: auto;
	/* margin-bottom: 10rem; */
}

ul {
	font-weight: 800;
}

.active {
	color: var(--primary-color);
}

.bubbles {
	height: 170px;
	margin-top: -5rem;
	pointer-events: none;
	margin-right: 50px;
	user-select: none;
}

.can {
	/* max-width: 450px; */
	max-width: 100%;
	filter: drop-shadow(0px -45px 90px rgba(var(--light-gray-color), 0.7));
}

.circle-overlay {
	--_left: 0;
	position: absolute;
	left: var(--_left);
	top: 0.3rem;
	width: 8rem;
	pointer-events: none;
	transform: translateX(40%);
	z-index: 1;
}

.test {
	position: absolute;
	height: 40px;
	background: orange;
	top: 3rem;
}

.circle-transition {
	transition: left 0.3s ease-in-out;
}

.ellipse {
	height: 70px;
	fill: #ffffff;
	opacity: 0.4;
	filter: blur(5.5px);
	z-index: 10;
	margin-right: 60px;
}

.img-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.logo {
	object-fit: cover;
	height: 40px;
}

.logo:hover {
	filter: brightness(0) invert(1) grayscale(1);
	transition: filter var(--app-animations-duration);
}

.menu {
	width: 1.5rem;
	cursor: pointer;
	display: none;
}

.quote {
	width: 100%;
	/* height: 100%; */
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 1rem;
	/* background: red; */
}

.quote h2 {
	font-size: var(--fs-big);
	font-family: var(--primary-font-family);
}

.quote-red {
	color: var(--text-color-red);
	font-family: var(--secondary-font-family);
}

.quote-shadowed {
	text-shadow: -43px 33px 145px var(--primary-color);
}

.shop-now-btn {
	background-color: var(--primary-color);
	border-radius: 999px;
	font-size: calc(var(--fs-big) * 0.4);
	font-style: normal;
	font-weight: 800;
	padding: 1rem 2rem;
}

.shop-now-btn:hover {
	background-color: var(--bg-color-white);
	color: var(--text-color-red);
}

.nav-link.active {
	color: var(--primary-color);
}

.nav-link-group {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6rem;
	font-size: calc(var(--fs-normal) * 1.2);
}

.btn {
	--_main-color: #d70d14;
	padding: 0.7rem 2rem;
	cursor: pointer;
	font-size: 1.3rem;
	background: var(--_main-color);
	color: #fff;
	text-transform: capitalize;
	border-radius: 10px;
}

.btn:hover {
	letter-spacing: 0.2rem;
}

.sheet {
	position: fixed;
	width: 90vw;
	height: 100dvh;
	top: 0;
	right: 0;
	background-color: #000000;
	z-index: 100;
	display: none;
	padding: 1rem;
	flex-direction: column;
	transition: transform 0.3s ease-in-out;
	transform: translateX(100%);
}

.show {
	transform: translateX(0%);
}

.sheet-header {
	display: flex;
	width: 100%;
	flex-direction: row-reverse;
	padding: 1rem;
}

.sheet-link-group {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1rem;
	list-style: none;
	margin-block: 3rem;
	font-size: 2rem;
}

input {
	border: none;
}

main {
	padding: var(--app-inline-padding);
	max-width: 1536px;
	margin: 0 auto;
}

@media screen and (max-width: 850px) {
	.nav-link-group {
		display: none;
	}

	.hero-container {
		grid-template-columns: 1fr;
		position: relative;
	}

	.hero-container img {
		z-index: 2;
		opacity: 0.5;
	}

	.hero-container::after {
		content: "";
		inset: -3rem;
		z-index: -1;
		/* background: linear-gradient(90deg,#050a0f,#050a0f80); */
		position: absolute;
		filter: blur(10px);
	}

	.bubbles {
		margin-top: -7rem;
	}

	.menu {
		display: block;
	}

	.quote {
		align-items: center;
		text-align: center;
	}

	.img-container {
		margin-left: 2rem;
		right: 0;
		z-index: -1;
		position: absolute;
	}

	.sheet {
		display: flex;
	}

	:root {
		--fs-normal: clamp(0.8rem, 1.5vw, 1.5rem);
		--fs-small: clamp(0.6rem, 1.5vw, 1rem);
		--fs-big: clamp(3.5rem, 1.5vw, 6rem);
		--app-inline-padding: 2rem;
	}
	.can {
		max-width: 400px;
	}

	.big-screen-only {
		display: none;
	}

	.quote-shadowed {
		text-shadow: none;
	}
}

/* media for high pexel density devices (2 dots per pexel)*/

/*@media (min-resolution: 2dppx) {*/
/*	:root {*/
/*		font-size: 12px;*/
/*	}*/
/*	main {*/
/*		max-width: 1100px;*/
/*	}*/
/*}*/
