/* ------------- global settings ------------- */

@font-face {
    font-family: 'Gellisa Script';
    src: local('Gellisa Script Regular'), local('Gellisa-Script-Regular'),
        url('../assets/fonts/GellisaScript.woff2') format('woff2'),
        url('../assets/fonts/GellisaScript.woff') format('woff'),
        url('../assets/fonts/GellisaScript.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-size : 62.5%;
}

:root {
    --primary-bg-color: #151f2c;
    --secondary-bg-color: #194548;
    --primary-text-color: #fefefe;
    --secondary-text-color: #00f060;
    --secondary-bg-color-buttons: #0686ce;
    --primary-font-stack: 'Poppins', sans-serif;
    --secondary-font-stack: 'Gellisa Script';
    --phone-width: 76.7rem;
    --tablet-min-width: 76.8rem;
    --tablet-max-width: 102.3rem;
    --desktop-width: 102.4rem;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font-stack);
    font-size: 9rem;
    height: 100vh;
    overflow-x: hidden;
    padding: 3rem 10rem;
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
}

a:is(:active,:hover) {
    color: var(--secondary-bg-color-buttons);
}

section {
    padding: 10rem 0;
}

/*------------- header -------------*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10rem;
    height: 6rem;
}

header > a:first-child {
    font-family: var(--secondary-font-stack);
    background: var(--primary-text-color);
    background: linear-gradient(135deg, rgba(2,231,237,1) 0%, rgba(42,184,6,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: 8.5%;
    padding: 3.5rem 0.5rem 0 0.5rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    font-size: 7rem;
    gap: 10rem;
    margin: 0;
    padding: 0;
}

nav ul li {
    line-height: 1;
    display: flex;
}

nav ul li a {
    font-weight: 300;
    font-size: 1.9rem;
}

header button {
    font-size: 2rem;
    background-color: transparent;
    padding: 2.3rem 3rem;
    border-radius: 4rem;
    border: 0.2rem solid var(--secondary-text-color);
    line-height: 0;
    cursor: pointer;
}

header button a {
    font-size: 2rem;
    background: var(--primary-text-color);
    background : linear-gradient(135deg, rgba(2,231,237,1) 0%, rgba(23,97,4,1) 100%);
    width : fit-content;
    background-clip: text;
    -webkit-background-clip :text;
    color : transparent;
}

/*------------- main:home -------------*/

#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
}

#home > div {
    flex: 1;
}

.avatar {
    margin: 0;
    padding: 10rem;
}

.avatar img {
    width: 60rem;
    height: 90rem;
    object-fit: cover;
}