/* ------------- global settings ------------- */

@font-face {
    font-family: 'Gellisa Script';
    src: local('Gellisa Script Regular'), local('Gellisa-Script-Regular'),
        url('../assets/fonts/GellisaScript.woff2') format('woff2'),
        url('../assets/fonts/GellisaScript.woff') format('woff'),
        url('../assets/fonts/GellisaScript.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --primary-bg-color: #151f2c;
    --secondary-bg-color: #194548;
    --primary-text-color: #fefefe;
    --primary-color: #00f060;
    --secondary-color: #0686ce;
    --primary-gradient: linear-gradient(120deg,#0686ce,#00f060);
    --secondary-color-dark: #0167a1;
    --primary-font-stack: 'Poppins', sans-serif;
    --secondary-font-stack: 'Gellisa Script';
    --phone-width: 76.7rem;
    --tablet-min-width: 76.8rem;
    --tablet-max-width: 102.3rem;
    --desktop-width: 102.4rem;
    --app-inline-padding : 2rem;
    --app-transitions-duration : 300ms;
    /*font size variables*/
    --fs-sm : .7rem;
    --fs-normale : 1rem;
    --fs-md : 2rem;
    --fs-lg : 3rem;
    --fs-xl : 5rem;
}
*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
}

html,body{
    height: 100%;
}
body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font-stack);
    overflow-x: hidden;
}
section:not(:first-child){
    /* padding: 10rem 0; */
    margin-block: 5rem;
}
a {
    color: var(--primary-text-color);
    transition : all var(--app-transitions-duration);
    text-decoration: none;
}

a:hover {
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
*:focus-visible{
    outline : 1px solid var(--primary-color);
    outline-offset: 3px;        
}
.btn{
    --_radius : 2rem;
    all: unset;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: .7rem;
    text-decoration: none; /*if applied to a link*/
    background: var(--secondary-color);
    padding: .8rem 2rem;
    border-radius: var(--_radius);
    cursor: pointer;
    transition: background var(--app-transitions-duration);
}

.btn:hover{
    background: var(--secondary-color-dark);
    color: var(--primary-text-color);
}
/*------------- header -------------*/

header {
    padding-inline : var(--app-inline-padding);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}
.app-brand{
    color: var(--primary-color);
    font-size: var(--fs-lg);
    font-family: var(--secondary-font-stack);
}
.app-hireme-btn{
    --_border-width: 2px;
    position: relative;
    font-weight: bold;
    background: var(--primary-bg-color);
    
    transition: background var(--app-transitions-duration);
}
.app-hireme-btn:hover{
    background: var(--primary-gradient);
}
.app-hireme-btn:hover >.text{
    background: none;
    color: var(--primary-text-color);
}
.app-hireme-btn>.text{
    background: var(--primary-gradient);
    background-size: 150%;
    -webkit-background-clip: text; /*for chromiom browsers*/
    background-clip: text;
    color: transparent;
    transition: color var(--app-transitions-duration);
}
.app-hireme-btn::before{
   content: '';
   position: absolute;
   inset: calc(var(--_border-width) * -1);
   background: var(--primary-gradient);
   z-index: -1;
   border-radius: calc(var(--_border-width) + var(--_radius));
}
/*------------- main:home -------------*/
#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
}

#home > div {
    flex: 1;
}

.avatar {
    margin: 0;
    padding: 10rem;
}

.avatar img {
    /* width: 60rem; */
    height: 90vh;
    object-fit: cover;
}