/* ------------- global settings ------------- */

@font-face {
    font-family: 'Gellisa Script';
    src: local('Gellisa Script Regular'), local('Gellisa-Script-Regular'),
        url('../assets/fonts/GellisaScript.woff2') format('woff2'),
        url('../assets/fonts/GellisaScript.woff') format('woff'),
        url('../assets/fonts/GellisaScript.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --primary-bg-color: #151f2c;
    --primary-bg-color-transparent: #151f2c99;
    --secondary-bg-color: #194548;
    --primary-text-color: #fefefe;
    --primary-color: #00f060;
    --primary-color-transparent: #00f06030;
    --secondary-color: #0686ce;
    --primary-gradient: linear-gradient(120deg, #0686ce, #00f060);
    --secondary-gradient: linear-gradient(90deg, #68fff9, #45ff0a, #45ff0a);
    --secondary-color-dark: #0167a1;
    --primary-font-stack: 'Poppins', sans-serif;
    --secondary-font-stack: 'Gellisa Script';
    --phone-width: 76.7rem;
    --tablet-min-width: 76.8rem;
    --tablet-max-width: 102.3rem;
    --desktop-width: 102.4rem;
    --app-inline-padding: 7rem;
    --app-transitions-duration: 300ms;
    --navbar-height: 6rem;
    --fs-sm: .7rem;
    --fs-normale: 1rem;
    --fs-smd: 1.5rem;
    --fs-md: 2rem;
    --fs-xl: 5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font-stack);
    overflow-x: hidden;
}

section:not(:first-of-type) {
    margin-block: 5rem;
}

a {
    color: var(--primary-text-color);
    transition: all var(--app-transitions-duration);
    text-decoration: none;
}

a:hover {
    background: var(--secondary-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

*:focus-visible {
    outline: 1px solid var(--primary-color);
    outline-offset: 3px;
}

.app-icon {
    font-weight: bold;
    font-size: var(--fs-smd);
}

.app-icon ion-icon {
    padding: 0;
    display: block;
}

.btn {
    --_radius: 2rem;
    all: unset;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: .7rem;
    text-decoration: none;
    background: var(--secondary-color);
    padding: .8rem 2rem;
    border-radius: var(--_radius);
    cursor: pointer;
    transition: background var(--app-transitions-duration);
}

.btn:hover {
    background: var(--secondary-color-dark);
    color: var(--primary-text-color);
}

/*------------- header -------------*/

header {
    container-name: header;
    container-type: inline-size;
    padding-inline: var(--app-inline-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.menu-wrapper {
    display: none;
}

.menu-wrapper .menu-icon {
    font-size: 3rem;
}

.menu-wrapper .menu-icon:active {
    color: var(--secondary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav .adjustive {
    display: none;
}

.app-brand {
    color: var(--primary-color);
    padding-inline: .3rem;
    font-size: var(--fs-md);
    font-family: var(--secondary-font-stack);
    padding: 0.7rem 0.5rem 0 0.5rem;
}

.app-hireme-btn {
    --_border-width: 2px;
    position: relative;
    font-weight: bold;
    background: var(--primary-bg-color);

    transition: background var(--app-transitions-duration);
}

.app-hireme-btn:hover {
    background: var(--primary-gradient);
}

.app-hireme-btn:hover>.text {
    background: none;
    color: var(--primary-text-color);
}

.app-hireme-btn>.text {
    background: var(--primary-gradient);
    background-size: 150%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: color var(--app-transitions-duration);
}

.app-hireme-btn::before {
    content: '';
    position: absolute;
    inset: calc(var(--_border-width) * -1);
    background: var(--primary-gradient);
    z-index: -1;
    border-radius: calc(var(--_border-width) + var(--_radius));
}

.menu-overlay {
    font-size: var(--fs-md);
    background: var(--primary-bg-color-transparent);
    backdrop-filter: brightness(0.4) blur(20px);
    -webkit-backdrop-filter: brightness(0.4) blur(20px);
    position: fixed;
    inset: 0;
    z-index: 2000;
    transition: opacity var(--app-transitions-duration);
    display: flex;
    flex-direction: column;
    display: none;
    padding-inline: var(--app-inline-padding);
}

.menu-overlay.hidden {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.nav-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-menu-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    padding: 0;
}

/*------------- main:hero -------------*/
.app-hero {
    position: relative;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    padding: calc(var(--app-inline-padding));
    margin-bottom: 10rem;
}

.bg-path {
    position: absolute;
    inset: 0;
    z-index: -1;
    left: 0;
    transform: translateY(-20%) scaleX(1.2);
    object-fit: cover;
    opacity: .15;
}

.app-hero .column-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.app-hero .column-2 {
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.avatar {
    height: 70vh;
    filter: drop-shadow(0 0 10rem var(--wh));
}

.heading {
    font-size: var(--fs-md);
    font-weight: 700;
    line-height: 1.2;

}

.heading__greeting {
    font-weight: 6OO;
    line-height: 1;
    display: inline-flex;
    color: var(--primary-color);
}

.heading__greeting .app-icon {
    font-size: var(--fs-md);
    padding-left: 0.5rem;
}

.heading__fullname {
    font-size: var(--fs-xl);
}

.heading__job {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: var(--primary-text-color);
    letter-spacing: .2rem;
}

/*------------- main:projects -------------*/

.gallery {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: var(--gap);
    --gap: 1.5rem;
}

.gallery img {
    aspect-ratio: 16 / 9;
}

.gallery div {
    position: relative;
    height: inherit;
    --div-height: 100%;
}

.gallery div img:hover {
    transform: scale(1.03);
}

.container::before,
.container::after {
    content: '';
    position: absolute;
    top: 50%;
    /* background-color: var(--line-color); */
    background: linear-gradient(transparent 8%, var(--line-color), transparent 100%);
    z-index: 1;
    width: var(--line-thickness);
    height: calc(100% - 4rem);
    transform: translateY(-50%);
}

.container::after {
    left: 33.5%;
}

.container::before {
    right: 33.5%;
}

.projects .container {
    --line-thickness: .2rem;
    --line-offset: calc(var(--gap) / 2);
    --line-color: #ffffff30;
    position: relative;
    padding: 4rem 2rem;
    border-radius: .5rem;
    background: linear-gradient(172deg, rgba(28, 46, 58, .6) 47%, rgba(24, 69, 72, .6) 87%);
}

.projects .container h2 {
    text-align: center;
    margin-bottom: 3rem;
}


.projects div img {
    border-radius: .5rem;
    height: 100%;
    object-fit: cover;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

/*------------- main:temporary -------------*/

.about,
.contact,
.skills,
.projects,
footer p {
    text-align: center;
    padding-inline: var(--app-inline-padding);
}


/*------------utility-classes------------*/
.two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 2rem;
    padding-inline: var(--app-inline-padding);
    line-height: 1.6;
}

.img {
    /* width: 100%; */
    height: 120%;
}

.round-circle {
    position: relative;
    border-radius: 50%;
    background: var(--primary-gradient);
    height: 400px;
    aspect-ratio: 1;
}

.clipper {
    padding-top: 5rem;
    width: fit-content;
    mask-image: url(../assets/images/clipper.svg);
    -webkit-mask-image: url(../assets/images/clipper.svg);
    mask-position: center bottom;
    -webkit-mask-position: center bottom;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 109%;
    -webkit-mask-size: 109%;
}

.round-circle img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*-------------main:about-items-------------*/

.about-items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
}

.about-item {
    flex: 1;
}

.about-item-title {
    font-size: calc(var(--fs-md));
    font-weight: 600;
    background: var(--secondary-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 1rem;
}

.about-item-content {
    width: 87%;
    text-wrap: balance;
    color: #c7c3c3;
    padding: 0;
}

.about-item-content span {
    display: block;
}

.about-item-content-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.about-item-content-section h4 {
    font-weight: 800;
}

.about-item-content ul {
    padding: 0 2rem;
}

/*------------media_queries-------------*/

@media screen and (max-width: 1100px) {
    nav ul {
        display: none;
    }

    nav .adjustive {
        display: block;
    }

    .app-hero {
        position: relative;
        z-index: -1;
        grid-template-columns: 1fr;
    }

    .app-hero .column-2 {
        position: absolute;
        inset: 0;
        z-index: -1;
        padding-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .app-hero .column-2 .avatar {
        z-index: -1;
        filter: brightness(.6) drop-shadow(0 0 100px var(--primary-color-transparent));
        height: 100%;
        width: fit-content;
    }

    .app-hero .column-1 {
        width: 100%;
    }

    .app-hero::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        filter: blur(20px);
        background: linear-gradient(90deg,
                var(--primary-bg-color),
                var(--primary-bg-color-transparent), transparent);
    }

    .menu-overlay {
        display: flex;
    }

    .menu-wrapper {
        display: block;
    }

    .bg-path {
        display: none;
    }

    .two-columns {
        grid-template-columns: 1fr;
    }

    .gallery {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        --gap: 2rem;
    }

    .gallery div:not(:nth-child(1)):not(:nth-child(4))::before {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    :root {
        font-size: 12px;
        --app-inline-padding: 1rem;
    }

    .gallery {
        grid-template-columns: 1fr;
        --gap: 3rem;
    }

    .gallery div:not(:nth-child(1)):not(:nth-child(4))::before {
        display: none;
    }
}